.header {
  height: 70px;
  background-color: rgba(0,0,0,0.8);
  padding: 10px 0;
  .row.menu {
    margin-bottom: 0;
    a {
      color: white;
      i {
        font-size: 3.3rem;

      }
    }
    .brand-logo{
      img{
        height: 50px;
      }
    }
    .usuario{
      justify-content: center;
      text-align: center;
      color: white;
      img{
        margin-right: 10px;
        height: 50px;
      }
    }
  }

}
