
* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
}
.flex{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.card{
	padding: 2rem;
    margin-bottom: 2rem;
}
.fw500{
	font-weight: 500;
}
.img-small{
	margin: 0 auto;
	width: 70%;
	height: 100px;
}
