
$color-verde: #9AAE04;
$color-azul: RGB (112,115,114);

@import "buscar";
@import "navbar";

* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
}
.fondo{
  background-size: 100%;
}
.btn-large{
  background-color: $color-verde;
}

.btn:hover, .btn-large:hover {
    background-color: $color-azul;
}

.flex{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.div-logo{
  padding: 30px 100px 30px 100px;
  .logo{
    width: 100%;
  }
}
.button{
  margin-top: 30px;
}
.color-white{
  color: white;
}
.lime{
  height: 50px;
  padding: 12px;
  margin-bottom: 30px;
  background-color: $color-azul;
  color: white;
}
.img-promocion{
  img{
    width: 100%;
    padding: 10px;
  }
}
.height{
  height: 160px;
}
.promocion{
  position: relative;
  h4{
    font-size: 14px;
  }
  .float-right{
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
